

body{
    background-color: blue;
}

h1{
    font-size: 48px;
    font-family: 'Tangerine', serif;
    font-weight: 700;
    color: goldenrod;
    text-shadow: 4px 4px black;
}


.container{
    margin: auto;
    border: 1px solid red;
    width: 80vw;
    height: 70vh;
    background-color: green;
    position: relative;
}
li{
    list-style: none;
}

img{
    width: 100%;
    height: 100%;
}

#candle{
    position: absolute;
    width: 20vw;
    height: 20vh;
    z-index: 2;
    right:0px;
    bottom:0px;
    animation: bounce 5s linear;
    animation-iteration-count: infinite;
}



#click{
    color: white;
    font-size: 11px;
   
}

@keyframes bounce{
     to{
        transform: translateX(0);
    } 50% {
        transform: translateX(-9px);
    } 100% {
        transform: translateX(0px);
    }
}

.glow {
    font-size: 80px;
    color: orange;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 15px orange, 0 0 20px orange, 0 0 25px orange, 0 0 25px orange, 0 0 25px orange;
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px goldenrod, 0 0 15px goldenrod, 0 0 20px goldenrod, 0 0 25px goldenrod, 0 0 25px goldenrod, 0 0 25px goldenrod;
    }
  }

  #instructions {
    display: flex;
    font-size: 48px;
    font-family: 'Tangerine', serif;
    font-weight: 600;
    text-shadow: 2px 2px black;
    list-style: none;
  }

  .musicbutton {
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    width: 5vw;
    height: 7vh;
    z-index: 3;
    left: 0px;
    top: 0px;
    cursor: pointer;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  #click{
    margin-left: 18px;

  }

  #header{
    margin: auto;
    margin: none;
    width: 60vw;
  }

  #fortunes {
    background-color: rgb(26, 28, 28);
    color: white;
    position: absolute;
    border: 10px solid white;
    width: 30vw;
    height: 25vh;
    right:110px;
    bottom:200px;
    border-radius: 15px;
    color: rgb(185, 173, 173);
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
  }

  
  #score {
    color: white;
    position: absolute;
    width: 10vw;
    height: 10vh;
    right:0px;
    top:20px;
  }
  

 

